@charset "utf-8";

// google font imports
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400;700&display=swap');

$family-sans-serif: 'Source Sans Pro', sans-serif;

$dark-grey: #26222b;
$white: #e0dedd;
$washed-blue: #649199;
$ocean-blue: #234c67;
$dark-brown: #2d2c2c;

$green: #3a7932;
$yellow: #a3995e;
$red: #8d3d3d;

$primary: $washed-blue;
$link: $washed-blue;
$info: $ocean-blue;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $dark-grey;
$text: $dark-brown;

$size-small: 1.25rem;
$size-normal: 1.5rem;
$size-medium: 2rem;
$size-large: 3rem;

// customized components and elements
$card-background-color: #f8f7f7;
$card-content-background-color: #f8f7f7;
$card-footer-background-color: #f8f7f7;
$card-header-padding: 1.5rem;
$card-content-padding: 1.5rem;
$card-footer-padding: 1.5rem;

// bulma imports
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/elements/table.sass';
@import '../node_modules/bulma/sass/elements/tag.sass';
@import '../node_modules/bulma/sass/components/card.sass';
