<h1 class="title">Journey-Einträge</h1>

<div id="app">

<div class="columns">
 
  <div class="column">
    <div class="card" id="entry-details">
    </div>
  </div>
</div>

</div>

<script type="module" src="/js/index.js"></script>