<h1 class="title">Login</h1>
<form method="POST" action="/login">
  <div class="field">
    <label class="label">Passwort</label>
    <div class="control">
      <input class="input" type="password" placeholder="Supergeheimes Passwort" name="password">
    </div>
  </div>
</form>